li {
    display: flex;
    /* flex-wrap: wrap; */
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;
    gap: 1rem;
    border: 1px solid teal;
    width: 300px;
    height: 80px;
    padding: 20px;
}

