.App {
  text-align: center;
/* 
  background: #d754ad;
  background: -webkit-linear-gradient(120deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%);
  background: linear-gradient(-30deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%); */
}

div > h1 {
  text-align: center;
}

.App {
  color: white;
}


/* .App:before {
  content:"";
    
  background: #d754ad;
  background: -webkit-linear-gradient(120deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%);
  background: linear-gradient(-30deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%);
  position: absolute;
  height: 100%;
  width: 4000px;
  left: -2000px;
  z-index: -1;
} */
