body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  /* background: #d754ad;
  background: -webkit-linear-gradient(120deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%);
  background: linear-gradient(-30deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%); */
  background: #5b54d7;
  background: -webkit-linear-gradient(120deg, #6654d7 0%, #5470d7 10%, #67d2f9 62%, #33fec1 100%);
  background: linear-gradient(-30deg,#6654d7 0%, #9c54d7 10%, #67a1f9 62%, #33fec1 100%);

  

}